.operator_list{
    
}
.block_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block {
    border: 1px black solid;
    width: 40px;
}



.packet-container {
    display: none;
    flex-direction: column;
    align-items: ;
    margin-bottom: 30px;
    width: 100%;
}

.packet-container.active {
    display: flex;
}

.tara {

}

.num_st {
    border: 1px black solid;
    width: 40px;
}